**CARGA DE LIBRERIAS**

In [4]:
#Instalacion de librerias
#pip install pandas
#pip install openpyxl

#Importacion de librerias
import pandas as pd

In [5]:
#ruta de los archivos
ruta = "C:\\Users\\hedua\\OneDrive\\Escritorio\\MAESTRIA\\4to Trimestre\\INTRO. MINERIA DE DATOS\\Proyecto_Parte2_Introduccion_Mineria_de_Datos\\DATA\\"

#Nombre de las columnas estándar para todos los años
name_columns = [
    "num_correlativo", "anio_ocu", "dia_ocu", "hora_ocu", "g_hora", "g_hora_5",
    "mes_ocu", "dia_sem_ocu", "mupio_ocu", "depto_ocu", "zona_ocu", "tipo_veh",
    "marca_veh", "color_veh", "modelo_veh", "g_modelo_veh", "tipo_eve"
]

**LIMPIEZA DE DATOS**

*Para los años 2024-2015*

- Se toma como referencia la estructura de columnas del archivo de 2024.
- Se asignan nombres consistentes a todas las columnas de los dataframes de cada año.
- Se reordenan las columnas para que todos los dataframes tengan la misma estructura.

In [11]:

data_2024 = pd.read_excel(ruta + "hechos-de-transito-ano-2024.xlsx")
data_2024.columns = name_columns


data_2023 = pd.read_excel(ruta + "hechos-de-transito-ano-2023.xlsx")
data_2023.columns = name_columns

data_2022 = pd.read_excel(ruta + "hechos-de-transito-ano-2022.xlsx")
data_2022.columns = name_columns

data_2021 = pd.read_excel(ruta + "hechos-de-transito-ano-2021.xlsx")
data_2021 = data_2021.drop(data_2021.columns[11], axis=1)  
data_2021.columns = name_columns


data_2020 = pd.read_excel(ruta + "hechos-de-transito-ano-2020.xlsx")
data_2020.columns = name_columns

data_2019 = pd.read_excel(ruta + "hechos-de-transito-ano-2019.xlsx")
data_2019.columns = name_columns

data_2018 = pd.read_excel(ruta + "hechos-de-transito-ano-2018.xlsx")
data_2018.columns = name_columns

data_2017 = pd.read_excel(ruta + "hechos-de-transito-ano-2017.xlsx")
data_2017.columns = name_columns

data_2016 = pd.read_excel(ruta + "hechos-de-transito-ano-2016.xlsx")
data_2016 = data_2016[[
    "núm_corre","año_ocu","día_ocu","hora_ocu","g_hora",
    "g_hora_5","mes_ocu","día_sem_ocu","mupio_ocu","depto_ocu",
    "zona_ocu","tipo_veh","marca_veh","color_veh","modelo_veh",
    "g_modelo_veh","tipo_eve"
]]
data_2016.columns = name_columns



data_2015 = pd.read_excel(ruta + "hechos-de-transito-ano-2015.xlsx")
data_2015 = data_2015[[
    "núm_corre","año_ocu","día_ocu","hora_ocu","g_hora","g_hora_5","mes_ocu",
    "día_sem_ocu","mupio_ocu","depto_ocu","zona_ocu","tipo_veh","marca_veh",
    "color_veh","modelo_veh","g_modelo_veh","tipo_eve"
]]
data_2015.columns = name_columns

*Para los años 2009-2014:*

- Se realiza limpieza y se agregan columnas que no existen en estos archivos.
- Las columnas agregadas se llenan con el valor por defecto "IGNORADO"  (representado numéricamente según el diccionario de datos).
- Se reordenan las columnas para que coincidan con la estructura de los años 2015-2024.

In [13]:
data_2014 = pd.read_excel(ruta + "hechos-de-transito-ano-2014.xlsx")
data_2014["año_ocu"] = 2014
data_2014["g_hora_5"] = 4
data_2014["g_modelo_veh"] = 99
data_2014 = data_2014[[
    "num_correlativo","año_ocu","día_ocu","hora_ocu","g_hora","g_hora_5","mes_ocu",
    "día_sem_ocu","mupio_ocu","depto_ocu","zona_ocu","tipo_veh","marca_veh",
    "color_veh","modelo_veh","g_modelo_veh","tipo_eve"
]]
data_2014.columns = name_columns



data_2013 = pd.read_excel(ruta + "hechos-de-transito-ano-2013.xlsx")
data_2013["año_ocu"] = 2013
data_2013["g_hora_5"] = 4
data_2013["g_modelo_veh"] = 99
data_2013 = data_2013[[
    "num_hecho","año_ocu","dia_ocu","hora_ocu","g_hora","g_hora_5","mes_ocu",
    "dia_sem_ocu","mupio_ocu","depto_ocu","zona_ocu","tipo_veh","marca_veh",
    "color_veh","modelo_veh","g_modelo_veh","causa_acc"
]]
data_2013.columns = name_columns




data_2012 = pd.read_excel(ruta + "hechos-de-transito-ano-2012.xlsx")
data_2012["año_ocu"] = 2012
data_2012["g_hora"] = 5
data_2012["g_hora_5"] = 4
data_2012["marca_vehi"] = 999
data_2012["modelo_vehi"] = 9999
data_2012["g_modelo_vehi"] = 99
data_2012 = data_2012[[
    "num_hecho","año_ocu","dia_ocu","hora_ocu","g_hora","g_hora_5","mes_ocu",
    "dia_sem_ocu","mupio_ocu","depto_ocu","zona_ocu","tipo_vehi","marca_vehi",
    "color_vehi","modelo_vehi","g_modelo_vehi","causa_acc"
]]
data_2012.columns = name_columns




data_2011 = pd.read_excel(ruta + "hechos-de-transito-ano-2011.xlsx")
data_2011["año_ocu"] = 2011
data_2011["g_hora"] = 5
data_2011["g_hora_5"] = 4
data_2011["g_modelo_vehi"] = 99
data_2011 = data_2011[[
    "num_hecho","año_ocu","dia_ocu","hora_ocu","g_hora","g_hora_5","mes_ocu",
    "dia_sem_ocu","muni_ocu","depto_ocu","zona_ocu","tipo_vehiculo","marca_vehi",
    "color_vehi","modelo_vehi","g_modelo_vehi","causa_acc"
]]
data_2011.columns = name_columns




data_2010 = pd.read_excel(ruta + "hechos-de-transito-ano-2010.xlsx")
data_2010["num_hecho"] = 1
data_2010["año_ocu"] = 2010
data_2010["g_hora"] = 5
data_2010["g_hora_5"] = 4
data_2010["muni_ocu"] = 9999
data_2010["marca_v"] = 999
data_2010["g_modelo_vehi"] = 99
data_2010 = data_2010[[
    "num_hecho","año_ocu","dia_ocu","hora_ocu","g_hora","g_hora_5","mes_ocu",
    "dia_sem_ocu","muni_ocu","depto_ocu","zona_ocu","tipo_v","marca_v",
    "color_v","modelo_v","g_modelo_vehi","causa_ac"
]]
data_2010.columns = name_columns




data_2009 = pd.read_excel(ruta + "hechos-de-transito-ano-2009.xlsx")
data_2009["año_ocu"] = 2009
data_2009["g_hora"] = 5
data_2009["g_hora_5"] = 4
data_2009["muni_ocu"] = 9999
data_2009["zona_ocu"] = 99
data_2009["marca_vehi"] = 999
data_2009["g_modelo_vehi"] = 99
data_2009 = data_2009[[
    "num_hecho","año_ocu","dia_ocu","hora_ocu","g_hora","g_hora_5","mes_ocu",
    "dia_sem_ocu","muni_ocu","depto_ocu","zona_ocu","tipo_vehi","marca_vehi",
    "color_vehi","modelo_vehi","g_modelo_vehi","causa_acc"
]]
data_2009.columns = name_columns

*Unificacion de la data y remplazo de los valores null*

In [23]:
#Unificacion de los 16 dataframe
data_completa = pd.concat([
    data_2024, data_2023, data_2022, data_2021, data_2020,
    data_2019, data_2018, data_2017, data_2016, data_2015,
    data_2014, data_2013, data_2012, data_2011, data_2010,
    data_2009
], ignore_index=True)


#Eliminacion de la columna num_correlativo
data_completa = data_completa.drop(columns=["num_correlativo"], errors="ignore")

*Remplazo de los valores null*

In [ ]:
# Reemplazo de valores por defecto "IGNORADO" según el diccionario de datos:
#   Solo se aplican condiciones a las columnas g_hora, g_hora_5 y g_modelo_veh,
#   ya que sus valores dependen de la información de otros campos.
data_completa["g_hora"] = (
    data_completa["hora_ocu"].apply(
        lambda x: 1 if 0 <= x <= 5 else
                  2 if 6 <= x <= 11 else
                  3 if 12 <= x <= 17 else
                  4 if 18 <= x <= 24 else 5
    )
)



data_completa["g_hora_5"] = data_completa["g_hora"].apply(
    lambda x: 1 if x in [1,2] else 2 if x==3 else 3 if x==4 else 4
)



data_completa["g_modelo_veh"] = data_completa["modelo_veh"].apply(
    lambda x: 1 if 1970 <= x <= 1979 else
              2 if 1980 <= x <= 1989 else
              3 if 1990 <= x <= 1999 else
              4 if 2000 <= x <= 2009 else
              5 if 2010 <= x <= 2019 else
              6 if 2020 <= x <= 2029 else 99
)



data_completa["grupo_color"] = data_completa["color_veh"].apply(
    lambda x: 1 if x in [3, 4, 5, 9, 10, 15] else       # Grupo 1: colores 3,4,5,9,10,15
              2 if x in [2, 8, 11, 12, 13, 16] else     # Grupo 2: colores 2,8,11,12,13,16
              3 if x in [1, 6, 7, 14] else              # Grupo 3: colores 1,6,7,14
              4 if x == 17 else                         # Grupo 4: color 17
              5                                         # Grupo 5: cualquier otro valor
)

In [25]:
data_completa.head()

,anio_ocu,dia_ocu,hora_ocu,g_hora,g_hora_5,mes_ocu,dia_sem_ocu,mupio_ocu,depto_ocu,zona_ocu,tipo_veh,marca_veh,color_veh,modelo_veh,g_modelo_veh,tipo_eve,grupo_color
0,2024,1,15.0,3,2,1,1,1.0,101,9,1,28,4,2022,6,1,1
1,2024,1,4.0,1,1,1,1,1.0,113,99,1,999,99,9999,99,1,5
2,2024,1,21.0,4,3,1,1,1.0,101,5,4,27,3,2018,5,1,1
3,2024,1,4.0,1,1,1,1,1.0,115,12,4,999,99,9999,99,6,5
4,2024,1,5.0,1,1,1,1,1.0,116,99,4,163,1,2019,5,6,3